In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
import time
import pandas as pd

In [2]:
states = ['al', 'ak', 'az', 'ar', 'ca', 'co', 'ct', 'de', 'fl', 'ga', 'hi', 'id', 'il', 'in', 'ia', 'ks', 'ky', 'la', 
         'me', 'md', 'ma', 'mi', 'mn', 'ms', 'mo', 'mt', 'ne', 'nv', 'nh', 'nj', 'nm', 'ny', 'nc', 'nd', 'oh', 'ok', 
         'or', 'pa', 'ri', 'sc', 'sd', 'tn', 'tx', 'ut', 'vt', 'va', 'wa', 'wv', 'wi', 'wy', 'gu', 'as', 'pr']
state_df_all = []

for state in states:
    state_url = f"https://www.weather.gov/stormready/{state}-sr"
    
    state_response = requests.get(state_url)
    
    soup = BeautifulSoup(state_response.text, 'lxml')
    
    results = soup.find_all('span', class_="bullet1")
    results2 = soup.find_all('li', class_="bullet1")
    results3 = soup.find_all('span', class_="bullet")
    results4 = soup.find_all('li', class_="bullet")
    
    state_df = []
    
    
    for result in results:
        county = result.text

        state_df.append(county)
        
    for result in results2:
        county = result.text
             
        state_df.append(county)
    
    for result in results3:
        county = result.text
             
        state_df.append(county)
    
    for result in results4:
        county = result.text
             
        state_df.append(county)
        
        
    state_df_final = pd.DataFrame({'COUNTY_NAME': state_df, 'STATE': state})
    
    state_df_all.append(state_df_final)

In [3]:
database = pd.concat(state_df_all, ignore_index=True)
database.head()

  COUNTY_NAME STATE
0                al
1  Government    al
2     Autauga    al
3     Baldwin    al
4      Blount    al

In [4]:
database['STATE'] = database['STATE'].str.upper()
database.head()

  COUNTY_NAME STATE
0                AL
1  Government    AL
2     Autauga    AL
3     Baldwin    AL
4      Blount    AL

In [5]:
database['STORM_READY'] = "StormReady"
database.head()

  COUNTY_NAME STATE STORM_READY
0                AL  StormReady
1  Government    AL  StormReady
2     Autauga    AL  StormReady
3     Baldwin    AL  StormReady
4      Blount    AL  StormReady

In [6]:
# Export the ffulldata as 1 CSV file
database.to_csv('../Resources/StormData/StormReadyData.csv')