## County, Mobile Home Parks & StormReady Data Cleanup
### County Census Data
#### https://www.ers.usda.gov/data-products/county-level-data-sets/

In [1]:
# Import Dependencies
import glob
import os
import pandas as pd

In [2]:
# Read in CSV file
poppath = '../Resources/CountyData/PopulationEstimates.csv'
pop_df = pd.read_csv(poppath, encoding="utf-8")
pop_df.head()

,FIPS,State,Area_Name,Rural-urban_Continuum Code_2003,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2003,Urban_Influence_Code_2013,Economic_typology_2015,CENSUS_2010_POP,ESTIMATES_BASE_2010,...,R_DOMESTIC_MIG_2015,R_DOMESTIC_MIG_2016,R_DOMESTIC_MIG_2017,R_NET_MIG_2011,R_NET_MIG_2012,R_NET_MIG_2013,R_NET_MIG_2014,R_NET_MIG_2015,R_NET_MIG_2016,R_NET_MIG_2017
0,0,US,United States,NaN,NaN,NaN,NaN,NaN,"308,745,538","308,758,105",...,0.0,0.0,0.0,2.7,2.9,2.9,3.2,3.5,3.5,3.4
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,NaN,"4,779,736","4,780,135",...,-0.3,-0.4,0.8,0.5,0.9,1.4,0.7,0.7,0.6,1.7
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,0.0,"54,571","54,571",...,-2.0,4.8,1.0,5.9,-6.1,-4.1,2.1,-1.7,5.1,1.3
3,1003,AL,Baldwin County,4.0,3.0,5.0,2.0,5.0,"182,265","182,265",...,17.0,20.5,22.4,16.3,17.2,22.6,20.4,17.9,21.3,23.2
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,3.0,"27,457","27,457",...,-16.2,-18.8,-19.0,0.3,-6.8,-8.0,-5.5,-16.4,-18.9,-19.2

In [3]:
# Check columns for next step
pop_df.columns

Index(['FIPS', 'State', 'Area_Name', 'Rural-urban_Continuum Code_2003',
       'Rural-urban_Continuum Code_2013', 'Urban_Influence_Code_2003',
       'Urban_Influence_Code_2013', 'Economic_typology_2015',
       'CENSUS_2010_POP', 'ESTIMATES_BASE_2010',
       ...
       'R_DOMESTIC_MIG_2015', 'R_DOMESTIC_MIG_2016', 'R_DOMESTIC_MIG_2017',
       'R_NET_MIG_2011', 'R_NET_MIG_2012', 'R_NET_MIG_2013', 'R_NET_MIG_2014',
       'R_NET_MIG_2015', 'R_NET_MIG_2016', 'R_NET_MIG_2017'],
      dtype='object', length=133)

In [4]:
# Remove unnecessary columns
pop_df = pop_df[['FIPS', 'State', 'Area_Name', 'POP_ESTIMATE_2011', 'POP_ESTIMATE_2011', 'POP_ESTIMATE_2012', 
                 'POP_ESTIMATE_2013', 'POP_ESTIMATE_2014', 'POP_ESTIMATE_2015', 'POP_ESTIMATE_2016', 
                 'POP_ESTIMATE_2017']]

pop_df = pop_df.rename(columns={'FIPS': 'COUNTY_ID'})

pop_df.head()

,COUNTY_ID,State,Area_Name,POP_ESTIMATE_2011,POP_ESTIMATE_2011,POP_ESTIMATE_2012,POP_ESTIMATE_2013,POP_ESTIMATE_2014,POP_ESTIMATE_2015,POP_ESTIMATE_2016,POP_ESTIMATE_2017
0,0,US,United States,"311,644,280","311,644,280","313,993,272","316,234,505","318,622,525","321,039,839","323,405,935","325,719,178"
1,1000,AL,Alabama,"4,798,649","4,798,649","4,813,946","4,827,660","4,840,037","4,850,858","4,860,545","4,874,747"
2,1001,AL,Autauga County,"55,199","55,199","54,927","54,695","54,864","54,838","55,278","55,504"
3,1003,AL,Baldwin County,"186,534","186,534","190,048","194,736","199,064","202,863","207,509","212,628"
4,1005,AL,Barbour County,"27,351","27,351","27,175","26,947","26,749","26,264","25,774","25,270"

In [5]:
# Export the clean CSV
pop_df.to_csv('../Resources/PopulationEstimatesFINAL.csv')

### Mobile Home Parks Data
#### https://hifld-geoplatform.opendata.arcgis.com/datasets/mobile-home-parks?geometry=-233.525%2C24.207%2C3.955%2C65.072

In [6]:
# Read in CSV file
mobilehomes = '../Resources/MobileHomeData/Mobile_Home_Parks.csv'
mobilehomes_df = pd.read_csv(mobilehomes, encoding="utf-8")
mobilehomes_df.head()

,X,Y,OBJECTID,MHPID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,NAICS_CODE,NAICS_DESC,SOURCE,SOURCEDATE,VAL_METHOD,VAL_DATE,WEBSITE,UNITS,SIZE,REVGEOFLAG
0,-81.462908,28.711371,1001,3170,WEKIWA SPRINGS STATE PARK,1800 WEKIWA CIRCLE,APOPKA,FL,32712,NOT AVAILABLE,...,721211,RECREATIONAL VEHICLE PARKS,http://www.floridahealth.gov/%5C/environmental...,2018-05-21T00:00:00.000Z,IMAGERY ONLY,2015-11-03T00:00:00.000Z,NOT AVAILABLE,-999,SMALL (<50),NO
1,-81.375434,28.509210,1002,3178,SABAL PALM MOBILE HOME PARK,164 E PINELOCH,ORLANDO,FL,32806,NOT AVAILABLE,...,531190,RESIDENTIAL TRAILER PARKS,http://www.doh.state.fl.us/Environment/program...,2013-01-14T00:00:00.000Z,IMAGERY ONLY,2018-06-08T00:00:00.000Z,NOT AVAILABLE,-999,SMALL (<50),NO
2,-81.120220,28.549894,1003,3179,K BRANTLEY MHP,17488 MONROE PARTIN ROAD,ORLANDO,FL,32833,NOT AVAILABLE,...,531190,RESIDENTIAL TRAILER PARKS,http://www.floridahealth.gov/%5C/environmental...,2018-05-21T00:00:00.000Z,IMAGERY ONLY,2015-11-03T00:00:00.000Z,NOT AVAILABLE,13,SMALL (<50),NO
3,-81.361677,28.430476,1004,3185,CHISOLM TRAILER ESTATES,9400 8TH AVENUE,ORLANDO,FL,32824,NOT AVAILABLE,...,531190,RESIDENTIAL TRAILER PARKS,http://www.floridahealth.gov/%5C/environmental...,2018-05-21T00:00:00.000Z,IMAGERY ONLY,2015-11-03T00:00:00.000Z,NOT AVAILABLE,10,SMALL (<50),NO
4,-97.162062,26.074849,1005,42410,ISLA BLANCA PARK,33174 STATE PARK RD 100,SOUTH PADRE ISLAND,TX,78597,NOT AVAILABLE,...,721211,RECREATIONAL VEHICLE PARKS,IMAGERY,2015-10-12T00:00:00.000Z,BOTH INTERNET AND IMAGERY,2015-10-12T00:00:00.000Z,HTTP://WWW.CAMERONCOUNTYPARKS.COM/ISLABLANCAPARK,-999,LARGE (>100),NO

In [7]:
# Check columns for next step
mobilehomes_df.columns

Index(['X', 'Y', 'OBJECTID', 'MHPID', 'NAME', 'ADDRESS', 'CITY', 'STATE',
       'ZIP', 'ZIP4', 'TELEPHONE', 'TYPE', 'STATUS', 'COUNTY', 'COUNTYFIPS',
       'COUNTRY', 'LATITUDE', 'LONGITUDE', 'NAICS_CODE', 'NAICS_DESC',
       'SOURCE', 'SOURCEDATE', 'VAL_METHOD', 'VAL_DATE', 'WEBSITE', 'UNITS',
       'SIZE', 'REVGEOFLAG'],
      dtype='object')

In [8]:
# Remove unnecessary columns & change COUNTYFIPS to COUNTY_ID
mobilehomes_df = mobilehomes_df[['NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP', 'TYPE', 'STATUS', 
                                 'COUNTY', 'COUNTYFIPS', 'LATITUDE', 'LONGITUDE', 'SIZE']]

mobilehomes_df = mobilehomes_df.rename(columns={'COUNTYFIPS': 'COUNTY_ID'})

mobilehomes_df.head()

,NAME,ADDRESS,CITY,STATE,ZIP,TYPE,STATUS,COUNTY,COUNTY_ID,LATITUDE,LONGITUDE,SIZE
0,WEKIWA SPRINGS STATE PARK,1800 WEKIWA CIRCLE,APOPKA,FL,32712,RECREATIONAL VEHICLE PARK,OPEN,ORANGE,12095,28.711371,-81.462908,SMALL (<50)
1,SABAL PALM MOBILE HOME PARK,164 E PINELOCH,ORLANDO,FL,32806,MOBILE HOME PARK,OPEN,ORANGE,12095,28.509210,-81.375434,SMALL (<50)
2,K BRANTLEY MHP,17488 MONROE PARTIN ROAD,ORLANDO,FL,32833,MOBILE HOME PARK,OPEN,ORANGE,12095,28.549894,-81.120220,SMALL (<50)
3,CHISOLM TRAILER ESTATES,9400 8TH AVENUE,ORLANDO,FL,32824,MOBILE HOME PARK,OPEN,ORANGE,12095,28.430476,-81.361677,SMALL (<50)
4,ISLA BLANCA PARK,33174 STATE PARK RD 100,SOUTH PADRE ISLAND,TX,78597,RECREATIONAL VEHICLE PARK,OPEN,CAMERON,48061,26.074849,-97.162062,LARGE (>100)

In [9]:
# Remove any CLOSED mobile home parks
open_mobilehomes = mobilehomes_df.loc[mobilehomes_df["STATUS"] == "OPEN", :]
open_mobilehomes.head()

,NAME,ADDRESS,CITY,STATE,ZIP,TYPE,STATUS,COUNTY,COUNTY_ID,LATITUDE,LONGITUDE,SIZE
0,WEKIWA SPRINGS STATE PARK,1800 WEKIWA CIRCLE,APOPKA,FL,32712,RECREATIONAL VEHICLE PARK,OPEN,ORANGE,12095,28.711371,-81.462908,SMALL (<50)
1,SABAL PALM MOBILE HOME PARK,164 E PINELOCH,ORLANDO,FL,32806,MOBILE HOME PARK,OPEN,ORANGE,12095,28.509210,-81.375434,SMALL (<50)
2,K BRANTLEY MHP,17488 MONROE PARTIN ROAD,ORLANDO,FL,32833,MOBILE HOME PARK,OPEN,ORANGE,12095,28.549894,-81.120220,SMALL (<50)
3,CHISOLM TRAILER ESTATES,9400 8TH AVENUE,ORLANDO,FL,32824,MOBILE HOME PARK,OPEN,ORANGE,12095,28.430476,-81.361677,SMALL (<50)
4,ISLA BLANCA PARK,33174 STATE PARK RD 100,SOUTH PADRE ISLAND,TX,78597,RECREATIONAL VEHICLE PARK,OPEN,CAMERON,48061,26.074849,-97.162062,LARGE (>100)

In [10]:
# Export the clean CSV
open_mobilehomes.to_csv('../Resources/Mobile_Home_ParksFINAL.csv')

### Merging County Census Data + Mobile Home Parks Data

In [11]:
# Get a count of how many mobile home parks there are for each COUNTY_ID
county_mobilehomes = open_mobilehomes["COUNTY_ID"].value_counts()
county_mobilehomes.head()

6037     595
12057    485
12105    447
4013     422
6073     389
Name: COUNTY_ID, dtype: int64

In [12]:
# Create a new DataFrame with the count of mobile home parks by COUNTY_ID
mobilehome_df = pd.DataFrame({"MOBILE_HOME_PARKS": county_mobilehomes})
mobilehome_df = mobilehome_df.reset_index()
mobilehome_df = mobilehome_df.rename(columns={'index': 'COUNTY_ID'})
mobilehome_df.head()

   COUNTY_ID  MOBILE_HOME_PARKS
0       6037                595
1      12057                485
2      12105                447
3       4013                422
4       6073                389

In [13]:
# Merge the new DataFrame with the County Census DataFrame
county_df = pd.merge(pop_df, mobilehome_df, on="COUNTY_ID", how="outer")
county_df

,COUNTY_ID,State,Area_Name,POP_ESTIMATE_2011,POP_ESTIMATE_2011,POP_ESTIMATE_2012,POP_ESTIMATE_2013,POP_ESTIMATE_2014,POP_ESTIMATE_2015,POP_ESTIMATE_2016,POP_ESTIMATE_2017,MOBILE_HOME_PARKS
0,0,US,United States,"311,644,280","311,644,280","313,993,272","316,234,505","318,622,525","321,039,839","323,405,935","325,719,178",NaN
1,1000,AL,Alabama,"4,798,649","4,798,649","4,813,946","4,827,660","4,840,037","4,850,858","4,860,545","4,874,747",NaN
2,1001,AL,Autauga County,"55,199","55,199","54,927","54,695","54,864","54,838","55,278","55,504",28.0
3,1003,AL,Baldwin County,"186,534","186,534","190,048","194,736","199,064","202,863","207,509","212,628",102.0
4,1005,AL,Barbour County,"27,351","27,351","27,175","26,947","26,749","26,264","25,774","25,270",7.0
5,1007,AL,Bibb County,"22,745","22,745","22,658","22,503","22,533","22,561","22,633","22,668",4.0
6,1009,AL,Blount County,"57,562","57,562","57,595","57,623","57,546","57,590","57,562","58,013",7.0
7,1011,AL,Bullock County,"10,675","10,675","10,612","10,549","10,673","10,419","10,441","10,309",3.0
8,1013,AL,Butler County,"20,880","20,880","20,688","20,372","20,327","20,141","19,965","19,825",9.0
9,1015,AL,Calhoun County,"117,785","117,785","117,219","116,482","115,941","115,505","114,980","114,728",44.0
10,1017,AL,Chambers County,"34,031","34,031","34,092","34,122","33,948","33,968","33,717","33,713",6.0
11,1019,AL,Cherokee County,"25,993","25,993","25,958","26,014","25,897","25,741","25,766","25,857",4.0
12,1021,AL,Chilton County,"43,688","43,688","43,601","43,645","43,779","43,706","43,830","44,067",21.0
13,1023,AL,Choctaw County,"13,607","13,607","13,561","13,396","13,318","13,231","13,050","12,945",1.0
14,1025,AL,Clarke County,"25,582","25,582","25,152","25,118","24,865","24,708","24,350","24,083",5.0
15,1027,AL,Clay County,"13,688","13,688","13,434","13,406","13,440","13,414","13,410","13,367",1.0
16,1029,AL,Cleburne County,"14,928","14,928","14,889","14,976","15,026","14,922","14,873","14,900",1.0
17,1031,AL,Coffee County,"50,434","50,434","51,113","50,647","50,652","50,974","51,217","51,874",7.0
18,1033,AL,Colbert County,"54,534","54,534","54,569","54,528","54,461","54,358","54,327","54,500",9.0
19,1035,AL,Conecuh County,"13,187","13,187","13,041","12,908","12,677","12,678","12,515","12,469",NaN
20,1037,AL,Coosa County,"11,484","11,484","11,347","11,253","11,034","10,923","10,809","10,754",2.0
21,1039,AL,Covington County,"38,017","38,017","37,803","37,811","37,755","37,550","37,386","37,092",7.0
22,1041,AL,Crenshaw County,"13,898","13,898","13,916","13,847","13,852","13,851","13,907","13,871",NaN
23,1043,AL,Cullman County,"80,411","80,411","80,275","80,674","81,041","81,721","82,322","82,755",14.0
24,1045,AL,Dale County,"50,107","50,107","50,287","49,759","49,409","49,344","49,228","49,226",18.0
25,1047,AL,Dallas County,"43,256","43,256","42,795","41,981","41,559","40,939","40,081","39,215",13.0
26,1049,AL,DeKalb County,"71,353","71,353","70,944","70,905","71,034","71,198","71,216","71,617",18.0
27,1051,AL,Elmore County,"80,006","80,006","80,220","80,555","80,562","80,912","81,240","81,677",19.0
28,1053,AL,Escambia County,"38,202","38,202","38,028","37,773","37,740","37,667","37,476","37,447",13.0
29,1055,AL,Etowah County,"104,354","104,354","104,257","103,865","103,374","102,942","102,726","102,755",12.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3245,72099,PR,Moca Municipio,"39,743","39,743","39,343","38,931","38,332","37,736","37,055","36,328",NaN
3246,72101,PR,Morovis Municipio,"32,587","32,587","32,485","32,372","32,125","31,849","31,487","31,092",NaN
3247,72103,PR,Naguabo Municipio,"26,839","26,839","26,868","26,898","26,788","26,629","26,428","26,177",NaN
3248,72105,PR,Naranjito Municipio,"30,192","30,192","30,023","29,831","29,521","29,156","28,746","28,306",NaN
3249,72107,PR,Orocovis Municipio,"23,158","23,158","22,888","22,661","22,312","21,929","21,519","21,109",NaN
3250,72109,PR,Patillas Municipio,"18,961","18,961","18,707","18,480","18,159","17,792","17,412","17,004",NaN
3251,72111,PR,PeÃ’uelas Municipio,"23,759","23,759","23,269","22,806","22,270","21,705","21,075","20,447",NaN
3252,72113,PR,Ponce Municipio,"162,637","162,637","159,338","156,414","152,992","149,050","144,999","140,859",NaN
3253,72115,PR,Quebradillas Municipio,"25,695","25,695","25,491","25,288","24,950","24,595","24,171","23,734",NaN
3254,72117,PR,RincÃ›n Municipio,"15,094","15,094","14,980","14,868","14,726","14,561","14,347","14,128",NaN
3255,72119,PR,RÃŒo Grande Municipio,"53,882","53,882","53,705","53,354","52,606","51,777","50,976","50,128",NaN
3256,72121,PR,Sabana Grande Municipio,"25,052","25,052","24,723","24,476","24,096","23,619","23,171","22,690",NaN
3257,72123,PR,Salinas Municipio,"30,761","30,761","30,411","30,176","29,740","29,286","28,777","28,216",NaN
3258,72125,PR,San GermÂ·n Municipio,"35,193","35,193","34,721","34,164","33,580","32,964","32,325","31,654",NaN
3259,72127,PR,San Juan Municipio,"386,865","386,865","379,518","372,442","364,089","355,553","346,534","337,288",NaN
3260,72129,PR,San Lorenzo Municipio,"40,640","40,640","40,264","39,919","39,325","38,741","38,082","37,379",NaN
3261,72131,PR,San SebastiÂ·n Municipio,"41,762","41,762","41,176","40,595","39,803","39,002","38,142","37,306",NaN
3262,72133,PR,Santa Isabel Municipio,"23,200","23,200","23,095","23,006","22,762","22,525","22,217","21,863",NaN
3263,72135,PR,Toa Alta Municipio,"74,536","74,536","74,673","74,821","74,607","74,349","73,849","73,217",NaN
3264,72137,PR,Toa Baja Municipio,"88,087","88,087","86,741","85,508","83,841","81,994","80,088","78,092",NaN
3265,72139,PR,Trujillo Alto Municipio,"73,899","73,899","73,024","72,105","70,850","69,594","68,165","66,675",NaN
3266,72141,PR,Utuado Municipio,"32,575","32,575","32,040","31,556","30,937","30,254","29,508","28,791",NaN
3267,72143,PR,Vega Alta Municipio,"39,811","39,811","39,628","39,501","39,074","38,666","38,140","37,566",NaN
3268,72145,PR,Vega Baja Municipio,"58,668","58,668","57,843","57,039","55,916","54,777","53,602","52,436",NaN
3269,72147,PR,Vieques Municipio,"9,236","9,236","9,215","9,165","9,067","8,946","8,806","8,669",NaN
3270,72149,PR,Villalba Municipio,"25,547","25,547","25,138","24,745","24,265","23,672","23,085","22,528",NaN
3271,72151,PR,Yabucoa Municipio,"37,367","37,367","36,848","36,378","35,718","35,070","34,332","33,629",NaN
3272,72153,PR,Yauco Municipio,"41,049","41,049","40,264","39,506","38,549","37,601","36,632","35,635",NaN
3273,51515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
3274,12025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

### StormReady Data
#### https://www.weather.gov/stormready/communities

In [14]:
# Read in CSV file
stormready = '../Resources/StormReadyDataFINAL.csv'
stormready_df = pd.read_csv(stormready, encoding="utf-8")
stormready_df.head()

   Unnamed: 0 COUNTY_NAME Unnamed: 2 STATE STORM_READY
0           2     Autauga     County    AL  StormReady
1           3     Baldwin     County    AL  StormReady
2           4      Blount     County    AL  StormReady
3           5     Calhoun     County    AL  StormReady
4           6    Cherokee     County    AL  StormReady

In [15]:
# Drop Unnamed: 0 column
stormready_df = stormready_df[["COUNTY_NAME", "Unnamed: 2", "STATE", "STORM_READY"]]
stormready_df.head()

  COUNTY_NAME Unnamed: 2 STATE STORM_READY
0     Autauga     County    AL  StormReady
1     Baldwin     County    AL  StormReady
2      Blount     County    AL  StormReady
3     Calhoun     County    AL  StormReady
4    Cherokee     County    AL  StormReady

In [16]:
# Create a new COUNTY_NAME column
stormready_df["COUNTY_NAME_NEW"] = stormready_df["COUNTY_NAME"].map(str) + stormready_df["Unnamed: 2"].map(str)
stormready_df.head()

  COUNTY_NAME Unnamed: 2 STATE STORM_READY  COUNTY_NAME_NEW
0     Autauga     County    AL  StormReady   Autauga County
1     Baldwin     County    AL  StormReady   Baldwin County
2      Blount     County    AL  StormReady    Blount County
3     Calhoun     County    AL  StormReady   Calhoun County
4    Cherokee     County    AL  StormReady  Cherokee County

In [17]:
# Clean up DataFrame
stormready_df = stormready_df[["COUNTY_NAME_NEW", "STATE", "STORM_READY"]]
stormready_df = stormready_df.rename(columns={"COUNTY_NAME_NEW":"Area_Name", "STATE": "State"})
stormready_df.head()

         Area_Name State STORM_READY
0   Autauga County    AL  StormReady
1   Baldwin County    AL  StormReady
2    Blount County    AL  StormReady
3   Calhoun County    AL  StormReady
4  Cherokee County    AL  StormReady

In [18]:
county_df.head()

,COUNTY_ID,State,Area_Name,POP_ESTIMATE_2011,POP_ESTIMATE_2011,POP_ESTIMATE_2012,POP_ESTIMATE_2013,POP_ESTIMATE_2014,POP_ESTIMATE_2015,POP_ESTIMATE_2016,POP_ESTIMATE_2017,MOBILE_HOME_PARKS
0,0,US,United States,"311,644,280","311,644,280","313,993,272","316,234,505","318,622,525","321,039,839","323,405,935","325,719,178",NaN
1,1000,AL,Alabama,"4,798,649","4,798,649","4,813,946","4,827,660","4,840,037","4,850,858","4,860,545","4,874,747",NaN
2,1001,AL,Autauga County,"55,199","55,199","54,927","54,695","54,864","54,838","55,278","55,504",28.0
3,1003,AL,Baldwin County,"186,534","186,534","190,048","194,736","199,064","202,863","207,509","212,628",102.0
4,1005,AL,Barbour County,"27,351","27,351","27,175","26,947","26,749","26,264","25,774","25,270",7.0

In [19]:
# Merge the new DataFrame with the County Census DataFrame
final_countydf = pd.merge(county_df, stormready_df, on=['Area_Name', 'State'], how="outer")
final_countydf.head()

,COUNTY_ID,State,Area_Name,POP_ESTIMATE_2011,POP_ESTIMATE_2011,POP_ESTIMATE_2012,POP_ESTIMATE_2013,POP_ESTIMATE_2014,POP_ESTIMATE_2015,POP_ESTIMATE_2016,POP_ESTIMATE_2017,MOBILE_HOME_PARKS,STORM_READY
0,0.0,US,United States,"311,644,280","311,644,280","313,993,272","316,234,505","318,622,525","321,039,839","323,405,935","325,719,178",NaN,NaN
1,1000.0,AL,Alabama,"4,798,649","4,798,649","4,813,946","4,827,660","4,840,037","4,850,858","4,860,545","4,874,747",NaN,NaN
2,1001.0,AL,Autauga County,"55,199","55,199","54,927","54,695","54,864","54,838","55,278","55,504",28.0,StormReady
3,1003.0,AL,Baldwin County,"186,534","186,534","190,048","194,736","199,064","202,863","207,509","212,628",102.0,StormReady
4,1005.0,AL,Barbour County,"27,351","27,351","27,175","26,947","26,749","26,264","25,774","25,270",7.0,NaN

In [20]:
# Fill NaN values in MOBILE_HOME_PARKS with 0 + make STORM_READY boolean: 0 - No, 1 - Yes
final_countydf['MOBILE_HOME_PARKS'] = final_countydf['MOBILE_HOME_PARKS'].fillna(0)
final_countydf['STORM_READY'] = (final_countydf['STORM_READY'] == "StormReady").astype(int)
final_countydf.head()

,COUNTY_ID,State,Area_Name,POP_ESTIMATE_2011,POP_ESTIMATE_2011,POP_ESTIMATE_2012,POP_ESTIMATE_2013,POP_ESTIMATE_2014,POP_ESTIMATE_2015,POP_ESTIMATE_2016,POP_ESTIMATE_2017,MOBILE_HOME_PARKS,STORM_READY
0,0.0,US,United States,"311,644,280","311,644,280","313,993,272","316,234,505","318,622,525","321,039,839","323,405,935","325,719,178",0.0,0
1,1000.0,AL,Alabama,"4,798,649","4,798,649","4,813,946","4,827,660","4,840,037","4,850,858","4,860,545","4,874,747",0.0,0
2,1001.0,AL,Autauga County,"55,199","55,199","54,927","54,695","54,864","54,838","55,278","55,504",28.0,1
3,1003.0,AL,Baldwin County,"186,534","186,534","190,048","194,736","199,064","202,863","207,509","212,628",102.0,1
4,1005.0,AL,Barbour County,"27,351","27,351","27,175","26,947","26,749","26,264","25,774","25,270",7.0,0

In [21]:
# Export the clean CSV
final_countydf.to_csv('../Resources/CountyDataFrame.csv')